In [1]:
import pandas as pd

In [2]:
%store -r df

In [3]:
df.head()

         date_time        id  time_spent     name
0  20180406T165358  76144fb2        98.0  Василёк
1  20180404T173913  76144fb2        15.0  Василёк
2  20180403T172824  76144fb2       220.0  Василёк
3  20180407T070441  76144fb2        19.0  Василёк
4  20180404T132049  76144fb2        14.0  Василёк

In [4]:
total_visits = len(df)

In [5]:
total_stations = df['id'].nunique()

In [6]:
print(df['date_time'].min(), df['date_time'].max())

20180402T000008 20180408T235957

In [7]:
df['date_time'] = pd.to_datetime(df['date_time'], format='%Y%m%dT%H%M%S')

In [8]:
df.head()

            date_time        id  time_spent     name
0 2018-04-06 16:53:58  76144fb2        98.0  Василёк
1 2018-04-04 17:39:13  76144fb2        15.0  Василёк
2 2018-04-03 17:28:24  76144fb2       220.0  Василёк
3 2018-04-07 07:04:41  76144fb2        19.0  Василёк
4 2018-04-04 13:20:49  76144fb2        14.0  Василёк

In [12]:
total_days = df['date_time'].max().day - df['date_time'].min().day + 1

In [15]:
station_visits_per_day = total_visits/(total_days*total_stations)

In [16]:
df['name'].value_counts()

name
Календула      85648
Василёк        79006
Георгина       34356
Немезия        20138
Колокольчик    18835
Мальва         17386
Гейхера        14125
Доротеантус     6312
Нарцисс         3640
Амарант         3221
Тюльпан         2968
Лаватера        2655
Арктотис        2558
Малопа          2339
Левкой          2326
Роза            2199
Люпин           1964
Ромашка         1749
Бархатцы        1525
Агератум        1470
Пион            1282
Вероника        1237
Вербена         1145
Аммобиум        1144
Фасоль          1114
Лобулярия        984
Бегония          618
Космос           590
Ирис             552
Бальзамин        535
Астильба         489
Гвоздика         416
Настурция        392
Незабудка        367
Гелихризум       339
Хризантема       310
Подснежник       290
Белоцветник      232
Функия           190
Гацания          162
Диморфотека      118
Петуния           73
Крокус            63
Годеция           24
Обриета           18
Name: count, dtype: int64