In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
%store -r df

In [3]:
df.describe()

          time_spent
count  317104.000000
mean      203.382294
std       395.754791
min         0.000000
25%        19.000000
50%       108.000000
75%       274.000000
max     28925.000000