In [2]:
import pandas as pd

In [3]:
df = pd.read_excel(r"C:\Users\andre\Рабочий стол\Практикум\Специалист по Data Science Плюс. Часть 2\03 Изменение типов данных\04 work\ids.xlsx")
df.head()

             id category    amount
0  600748331392        C  17515.36
1  600748331404        B  10117.56
2  600748331412        B  18489.26
3  600748331430        B   6620.22
4  600748331447        C    7559.9

In [7]:
df['id'] = pd.to_numeric(df['id'])

In [9]:
df.tail()

              id category    amount
44  6.007483e+11        A   8958.23
45  6.007483e+11        C   12771.1
46  6.007483e+11        E   9630.56
47  6.007483e+11     Null      Null
48           NaN        A  14327.22

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        48 non-null     float64
 1   category  49 non-null     object
 2   amount    49 non-null     object
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

In [12]:
df['amount'] = pd.to_numeric(df['amount'], errors='coerce')

In [13]:
df['amount'].sum()

596107.1

In [15]:
df.groupby(by='category')['amount'].sum()

category
A       133988.50
B       168617.89
C       173332.50
D        62630.82
E        57537.39
Null         0.00
Name: amount, dtype: float64

In [42]:
data = pd.read_excel(r"C:\Users\andre\Рабочий стол\Практикум\Специалист по Data Science Плюс. Часть 2\03 Изменение типов данных\02 work\seo_data.xlsx", sheet_name='traffic_data')
data.head(3)

  subcategory_id  source         visits
0     cf2e61c7af  direct  501165.668858
1     0cd903d1cc  direct  126342.359505
2     ef35bc88a7  direct   95626.321402

In [47]:
data['visits'] = pd.to_numeric(data['visits'], errors='coerce')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1930 non-null   object
 1   source          1930 non-null   object
 2   visits          1928 non-null   float64
dtypes: float64(1), object(2)
memory usage: 45.4+ KB

In [48]:
data.loc[964]

subcategory_id     total
source            direct
visits               NaN
Name: 964, dtype: object

In [49]:
len(data)

1930

In [50]:
data[data['subcategory_id'] == 'total']

     subcategory_id   source  visits
964           total   direct     NaN
1929          total  organic     NaN

In [57]:
data['visits'] = data['visits'].astype(int, errors='ignore')

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1930 non-null   object
 1   source          1930 non-null   object
 2   visits          1930 non-null   int32
dtypes: int32(1), object(2)
memory usage: 37.8+ KB

In [54]:
data.loc[data['visits'].isna()] = 0

In [59]:
data.head()

  subcategory_id  source  visits
0     cf2e61c7af  direct  501165
1     0cd903d1cc  direct  126342
2     ef35bc88a7  direct   95626
3     6ff9f4014c  direct   75680
4     72bc238e4d  direct   64435

In [60]:
data.groupby(by='source')['visits'].sum()

source
0                0
direct     2368980
organic    5687407
Name: visits, dtype: int32