In [32]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
music = pd.read_csv(r"C:\Users\andre\Рабочий стол\Практикум\Специалист по Data Science Плюс. Часть 1\03 Базовый Python\10 Предобработка данных\music_log.csv")    

music.head()

    user_id  total play        Artist    genre                   track
0  BF6EA5AF   92.851388    Marina Rei      pop                  Musica
1  FB1E568E  282.981000  Stive Morgan  ambient             Love Planet
2  FB1E568E  282.981000  Stive Morgan  ambient             Love Planet
3  EF15C7BA    8.966000           NaN    dance     Loving Every Minute
4  82F52E69  193.776327        Rixton      pop  Me And My Broken Heart

In [3]:
music.dtypes

  user_id      object
total play    float64
Artist         object
genre          object
track          object
dtype: object

In [4]:
music.info

<bound method DataFrame.info of         user_id  total play        Artist    genre                   track
0      BF6EA5AF   92.851388    Marina Rei      pop                  Musica
1      FB1E568E  282.981000  Stive Morgan  ambient             Love Planet
2      FB1E568E  282.981000  Stive Morgan  ambient             Love Planet
3      EF15C7BA    8.966000           NaN    dance     Loving Every Minute
4      82F52E69  193.776327        Rixton      pop  Me And My Broken Heart
...         ...         ...           ...      ...                     ...
67958  2E27DF51  220.551837  Nadine Coyle      pop           Girls On Fire
67959  4F29D4D5   26.127000  Digital Hero    dance               The Model
67960  26B7058C  292.455000       Red God    metal               Действуй!
67961  DB0038A8   11.529112  Less Chapell      pop                    Home
67962  FE8684F6    0.100000           NaN      NaN                     NaN

[67963 rows x 5 columns]>

In [5]:
music.loc[:10, 'Artist':'track']

,Artist,genre,track
0,Marina Rei,pop,Musica
1,Stive Morgan,ambient,Love Planet
2,Stive Morgan,ambient,Love Planet
3,NaN,dance,Loving Every Minute
4,Rixton,pop,Me And My Broken Heart
5,Henry Hall & His Gleneagles Hotel Band,jazz,Home
6,NaN,classicmetal,NaN
7,NaN,electronic,Riviera
8,Andrew Paul Woodworth,pop,The Name of This Next Song Is Called
9,Pillar Point,indie,Dove
10,Steve Campbell,jazz,Morning Dew

In [6]:
music.loc[:,['Artist', 'genre']]

             Artist    genre
0        Marina Rei      pop
1      Stive Morgan  ambient
2      Stive Morgan  ambient
3               NaN    dance
4            Rixton      pop
...             ...      ...
67958  Nadine Coyle      pop
67959  Digital Hero    dance
67960       Red God    metal
67961  Less Chapell      pop
67962           NaN      NaN

[67963 rows x 2 columns]

In [7]:
music[:]['Artist']

0          Marina Rei
1        Stive Morgan
2        Stive Morgan
3                 NaN
4              Rixton
             ...
67958    Nadine Coyle
67959    Digital Hero
67960         Red God
67961    Less Chapell
67962             NaN
Name: Artist, Length: 67963, dtype: object

In [8]:
music.loc[music.loc[:, 'Artist'] == 'Marina Rei']

    user_id  total play      Artist genre   track
0  BF6EA5AF   92.851388  Marina Rei   pop  Musica

In [9]:
total_play = music['total play']
print(music[total_play<20]['genre'].value_counts())

genre
pop           4262
rock          3272
dance         3088
electronic    3014
hiphop        2568
              ...
symphony         1
jiddisch         1
post             1
afrikaans        1
shoegazing       1
Name: count, Length: 267, dtype: int64

In [10]:
board = pd.read_csv(r"C:\Users\andre\Downloads\Практикум\Специалист по Data Science Плюс. Часть 1\[SLIV.ONE] 03 Базовый Python\[SLIV.ONE] 09 Библиотека pandas\10 work\game_board.csv")

In [11]:
board

   A  B  C  D  E  F  G  H  J
0  0  0  0  0  0  0  0  0  1
1  0  1  0  0  0  0  0  0  0
2  0  1  0  0  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0
5  0  0  1  1  1  1  0  0  0
6  0  0  0  0  0  0  0  1  0
7  0  0  0  0  0  0  0  1  0
8  0  0  0  0  0  0  0  1  0
9  0  0  0  0  0  0  0  1  0

In [12]:
board[1:4]["B"]

1    1
2    1
3    1
Name: B, dtype: int64

In [13]:
ina = board[["C", "D", "E","F"]]
ina[5:6]

   C  D  E  F
5  1  1  1  1

In [17]:
board.iloc[6:10]['H']

6    1
7    1
8    1
9    1
Name: H, dtype: int64

In [21]:
music.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67963 entries, 0 to 67962
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0     user_id   67963 non-null  object
 1   total play  67399 non-null  float64
 2   Artist      59646 non-null  object
 3   genre       64661 non-null  object
 4   track       64804 non-null  object
dtypes: float64(1), object(4)
memory usage: 2.6+ MB

In [22]:
measurements = [['Солнце',146,152], # Измерения хранятся в списке списков 
                ['Луна',0.36, 0.41], # measurements (англ. «измерения»).
                ['Меркурий',82, 217],
                ['Венера',38, 261],
                ['Марс',56,401],
                ['Юпитер',588, 968],
                ['Сатурн',1195, 1660],
                ['Уран',2750, 3150],
                ['Нептун', 4300, 4700],
                ['Комета Галлея', 6, 5400]]

# Названия столбцов хранятся в переменной header.
header = ['Небесные тела ','MIN', 'MAX']

# Сохраним структуру данных в переменной celestial (англ. «небесный»).
celestial = pd.DataFrame(data=measurements, columns=header)

In [25]:
celestial = celestial.rename(columns={'Небесные тела ': 'celestial_bodies', 'MIN': 'min_distance', 'MAX': 'max_distance'})

In [27]:
music.isna().sum()

  user_id        0
total play     564
Artist        8317
genre         3302
track         3159
dtype: int64

In [20]:
music = music.rename(columns={'total play':'total_play', 'Artist':'artist', '  user_id':'user_id'})
music.info

<bound method DataFrame.info of         user_id  total_play        artist    genre                   track
0      BF6EA5AF   92.851388    Marina Rei      pop                  Musica
1      FB1E568E  282.981000  Stive Morgan  ambient             Love Planet
2      FB1E568E  282.981000  Stive Morgan  ambient             Love Planet
3      EF15C7BA    8.966000           NaN    dance     Loving Every Minute
4      82F52E69  193.776327        Rixton      pop  Me And My Broken Heart
...         ...         ...           ...      ...                     ...
67958  2E27DF51  220.551837  Nadine Coyle      pop           Girls On Fire
67959  4F29D4D5   26.127000  Digital Hero    dance               The Model
67960  26B7058C  292.455000       Red God    metal               Действуй!
67961  DB0038A8   11.529112  Less Chapell      pop                    Home
67962  FE8684F6    0.100000           NaN      NaN                     NaN

[67963 rows x 5 columns]>

In [29]:
music

        user_id  total_play        artist    genre                   track
0      BF6EA5AF   92.851388    Marina Rei      pop                  Musica
1      FB1E568E  282.981000  Stive Morgan  ambient             Love Planet
2      FB1E568E  282.981000  Stive Morgan  ambient             Love Planet
3      EF15C7BA    8.966000           NaN    dance     Loving Every Minute
4      82F52E69  193.776327        Rixton      pop  Me And My Broken Heart
...         ...         ...           ...      ...                     ...
67958  2E27DF51  220.551837  Nadine Coyle      pop           Girls On Fire
67959  4F29D4D5   26.127000  Digital Hero    dance               The Model
67960  26B7058C  292.455000       Red God    metal               Действуй!
67961  DB0038A8   11.529112  Less Chapell      pop                    Home
67962  FE8684F6    0.100000           NaN      NaN                     NaN

[67963 rows x 5 columns]

In [41]:
music.isna().sum()

  user_id        0
total_play     564
artist        8317
genre         3302
track         3159
dtype: int64

In [63]:
music = music.dropna(subset='total_play')

In [64]:
music.isna().sum()

  user_id        0
total_play       0
artist           0
genre         2738
track         2595
dtype: int64

In [62]:
music.head(20)

,user_id,total_play,artist,genre,track
0,BF6EA5AF,92.851388,Marina Rei,pop,Musica
1,FB1E568E,282.981000,Stive Morgan,ambient,Love Planet
2,FB1E568E,282.981000,Stive Morgan,ambient,Love Planet
3,EF15C7BA,8.966000,?,dance,Loving Every Minute
4,82F52E69,193.776327,Rixton,pop,Me And My Broken Heart
5,4166D680,3.007000,Henry Hall & His Gleneagles Hotel Band,jazz,Home
6,F4F5677,0.100000,?,classicmetal,NaN
7,386FE1ED,211.880000,?,electronic,Riviera
8,A5E0D927,3.161000,Andrew Paul Woodworth,pop,The Name of This Next Song Is Called
9,E9E8A0CA,274.390000,Pillar Point,indie,Dove
10,D3DD8D00,8.836000,Steve Campbell,jazz,Morning Dew
11,596A4517,0.000000,David Civera,pop,Bye Bye
12,2E50EDF9,245.040000,Lumipa Beats,hiphop,Cludo
13,79D2876C,2.000000,Henning Wehland,pop,Räuber und Gendarm
14,5A3095E,0.000000,?,NaN,NaN
15,96DA13A1,0.000000,Пётр Каледин,spoken,Пойти и не вернуться. Глава 1
16,4023830D,46.885000,ChinKong,dance,Live Life
17,AEAEF451,15.000000,Albatraoz,pop,General Zod
18,285648EF,0.100000,Pugs Atomz,dance,No Love
19,34811AC9,7.000000,Zak Moore,dance,Feel Good

In [71]:
duplicated_music = music[music.duplicated()]
duplicated_music.head(20)

,user_id,total_play,artist,genre,track
2,FB1E568E,282.981000,Stive Morgan,ambient,Love Planet
273,FE76AC63,0.100000,?,NaN,NaN
411,FE76AC63,0.100000,?,NaN,NaN
506,8E2B511,18.003328,Griffin & Flint,pop,Sweater Weather
583,F1014BD5,202.135510,Emanuel Borok Cullan Bryant,classical,Love's Sorrow
669,FE76AC63,0.100000,?,NaN,NaN
794,FE76AC63,0.100000,?,NaN,NaN
1088,D7EBF7BF,0.100000,?,NaN,NaN
1105,FE76AC63,0.100000,?,NaN,NaN
1198,FE76AC63,0.100000,?,NaN,NaN
1402,FE76AC63,0.100000,?,NaN,NaN
1498,A97D9A0,7.206244,?,hiphop,Ошибки
1517,FE76AC63,0.100000,?,NaN,NaN
1523,36EFD5CB,1.555000,?,pop,All Or Nothing
1524,2E98BD85,0.000000,?,NaN,NaN
1561,FE76AC63,0.100000,?,NaN,NaN
1668,FE76AC63,0.100000,?,NaN,NaN
1677,54A859CF,256.522000,The Slow Revolt,electronic,Never Get Close
1698,FE76AC63,0.100000,?,NaN,NaN
1762,FE76AC63,0.100000,?,NaN,NaN

In [80]:
music = music.drop_duplicates().reset_index(drop=True)
gen = pd.Series(music['genre'].unique())
gen

0               pop
1           ambient
2             dance
3              jazz
4      classicmetal
           ...
300           djent
301     independent
302            şiir
303      shoegazing
304            rave
Length: 305, dtype: object

In [82]:
music['genre'] = music['genre'].replace('электроника', 'electronic')
gen = pd.Series(music['genre'].unique())
gen

0               pop
1           ambient
2             dance
3              jazz
4      classicmetal
           ...
299           djent
300     independent
301            şiir
302      shoegazing
303            rave
Length: 304, dtype: object

In [7]:
music['genre'].dropna()

0            pop
1        ambient
2        ambient
3          dance
4            pop
          ...
67957     reggae
67958        pop
67959      dance
67960      metal
67961        pop
Name: genre, Length: 64661, dtype: object

In [18]:
music.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67963 entries, 0 to 67962
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0     user_id   67963 non-null  object
 1   total play  67399 non-null  float64
 2   Artist      59646 non-null  object
 3   genre       64661 non-null  object
 4   track       64804 non-null  object
dtypes: float64(1), object(4)
memory usage: 2.6+ MB

In [43]:
music.groupby(
    'genre', as_index=False
).agg(
    {
    'total_play':['mean','size'],
    'user_id':'nunique',
    }
).sort_values(
    by='genre',
    ascending=True
).droplevel(
    level = 0,
    axis = 1
).rename(
    {
        '':'genre',
        'mean':'avg_play',
        'size':'non_unique_user_count',
        'nunique':'unique_user_count'
    },
    axis = 1
)

           genre    avg_play  non_unique_user_count  unique_user_count
0       acapella  355.000000                      1                  1
1           acid  242.461000                      2                  2
2       acoustic   80.149388                      3                  2
3         action  170.634529                      3                  2
4          adult   85.560046                     27                 26
..           ...         ...                    ...                ...
299   worldmusic   20.000000                      1                  1
300         wort   29.284968                      4                  4
301         yoga  102.392381                      3                  3
302         şiir    2.043000                      1                  1
303  электроника    0.504500                      2                  2

[304 rows x 4 columns]