In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\andre\Рабочий стол\Практикум\Специалист по Data Science Плюс. Часть 2\05 Категоризация данных\03 work\support_upd.csv")
data.head()

    user_id                type_message  type_id            timestamp
0  DNcd8dnS  Жалоба на товар в магазине        3  2019-03-28 13:58:24
1  0e9MvwGs               Мошенничество        5  2019-03-08 17:11:59
2  boyDUG4C               Мошенничество        5  2019-03-03 17:52:34
3  5jMA27s1  Жалоба на товар в магазине        3  2019-03-16 15:18:21
4  wvtyctOK            Накрутка отзывов        2  2019-03-13 14:43:14

In [3]:
data['type_message'].value_counts()

type_message
Жалоба на товар в магазине      606
Мошенничество                   586
Продажа поддельной продукции    312
Не работает сайт                311
Продажа запрещенных товаров     303
Накрутка отзывов                302
Жалоба на видеообзор            297
Отзыв удалён                    283
Name: count, dtype: int64

In [6]:
support_log = data.loc[:,['user_id','type_message','timestamp']]
support_log.head()

    user_id                type_message            timestamp
0  DNcd8dnS  Жалоба на товар в магазине  2019-03-28 13:58:24
1  0e9MvwGs               Мошенничество  2019-03-08 17:11:59
2  boyDUG4C               Мошенничество  2019-03-03 17:52:34
3  5jMA27s1  Жалоба на товар в магазине  2019-03-16 15:18:21
4  wvtyctOK            Накрутка отзывов  2019-03-13 14:43:14

In [7]:
support_dict = data.loc[:,['type_message','type_id']]
support_dict.head()

                 type_message  type_id
0  Жалоба на товар в магазине        3
1               Мошенничество        5
2               Мошенничество        5
3  Жалоба на товар в магазине        3
4            Накрутка отзывов        2

In [13]:
support_dict = support_dict.drop_duplicates().reset_index(drop=True)
support_dict.sort_values(by=['type_id'],ascending=True)

                   type_message  type_id
4              Не работает сайт        1
2              Накрутка отзывов        2
0    Жалоба на товар в магазине        3
6  Продажа поддельной продукции        4
1                 Мошенничество        5
5   Продажа запрещенных товаров        6
7                  Отзыв удалён        7
3          Жалоба на видеообзор        8