In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv(r'C:\Users\andre\Рабочий стол\Практикум\Специалист по Data Science Плюс. Часть 6\Часть 6\02 Подготовка признаков\travel_insurance.csv')

In [7]:
features = df.drop('Claim', axis=1)
target = df['Claim']

train_features, valid_features, train_targets, valid_targets = train_test_split(features, target, test_size=0.25, random_state=12345)

In [8]:
print(train_features.shape, valid_features.shape)

(37995, 10) (12665, 10)

In [12]:
df.dtypes

Agency                    object
Agency Type               object
Distribution Channel      object
Product Name              object
Claim                      int64
Duration                   int64
Destination               object
Net Sales                float64
Commission (in value)    float64
Gender                    object
Age                        int64
dtype: object

In [23]:
df['Gender'].head()

0      M
1    NaN
2    NaN
3    NaN
4      M
Name: Gender, dtype: object

In [18]:
encoder = OneHotEncoder(handle_unknown='ignore')

In [22]:
print(pd.get_dummies(df['Gender'], drop_first=True).head())

       M
0   True
1  False
2  False
3  False
4   True

In [24]:
ohe = pd.get_dummies(df, drop_first=True)
ohe.head()

,Claim,Duration,Net Sales,Commission (in value),Age,Agency_ART,Agency_C2B,Agency_CBH,Agency_CCR,Agency_CSR,...,Destination_UNITED KINGDOM,Destination_UNITED STATES,Destination_URUGUAY,Destination_UZBEKISTAN,Destination_VANUATU,Destination_VENEZUELA,Destination_VIET NAM,Destination_ZAMBIA,Destination_ZIMBABWE,Gender_M
0,0,12,45.0,15.75,39,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,0,50,22.0,0.00,36,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,0,251,80.0,0.00,36,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,6,-10.0,0.00,36,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,0,5,45.0,15.75,34,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [25]:
%store ohe

Stored 'ohe' (DataFrame)