In [1]:
import sklearn
%store -r ohe

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
import sklearn

In [3]:
ohe.head()

,Claim,Duration,Net Sales,Commission (in value),Age,Agency_ART,Agency_C2B,Agency_CBH,Agency_CCR,Agency_CSR,...,Destination_UNITED KINGDOM,Destination_UNITED STATES,Destination_URUGUAY,Destination_UZBEKISTAN,Destination_VANUATU,Destination_VENEZUELA,Destination_VIET NAM,Destination_ZAMBIA,Destination_ZIMBABWE,Gender_M
0,0,12,45.0,15.75,39,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,0,50,22.0,0.00,36,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,0,251,80.0,0.00,36,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,6,-10.0,0.00,36,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,0,5,45.0,15.75,34,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [4]:
ohe.dtypes

Claim                      int64
Duration                   int64
Net Sales                float64
Commission (in value)    float64
Age                        int64
                          ...
Destination_VENEZUELA       bool
Destination_VIET NAM        bool
Destination_ZAMBIA          bool
Destination_ZIMBABWE        bool
Gender_M                    bool
Length: 188, dtype: object

In [5]:
features = ohe.drop('Claim', axis=1)
target = ohe['Claim']

In [6]:
train_features, valid_features, train_targets, valid_targets = train_test_split(features, target, test_size=0.25, random_state=12345)

In [7]:
model = LogisticRegression(solver='liblinear')

In [17]:
model.fit(train_features, train_targets)
predictions = model.predict(valid_features)
cm = confusion_matrix(valid_targets, predictions)

In [19]:
print(sklearn.metrics.classification_report(valid_targets, predictions))

              precision    recall  f1-score   support

           0       0.99      1.00      0.99     12496
           1       0.00      0.00      0.00       169

    accuracy                           0.99     12665
   macro avg       0.49      0.50      0.50     12665
weighted avg       0.97      0.99      0.98     12665

C:\Users\andre\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\andre\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\andre\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [12]:
cm

array([[12496,     0],
       [  169,     0]], dtype=int64)