In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.tree import DecisionTreeClassifier

In [3]:
df = pd.read_csv(r'C:\Users\andre\Рабочий стол\Практикум\Специалист по Data Science Плюс. Часть 6\Часть 6\02 Подготовка признаков\travel_insurance.csv')

In [4]:
enc = OrdinalEncoder()

In [8]:
df = pd.DataFrame(enc.fit_transform(df))

In [9]:
df.head()

    0    1    2     3    4      5      6      7      8    9     10
0  9.0  0.0  1.0  24.0  0.0   14.0  121.0  602.0  486.0  1.0  37.0
1  7.0  1.0  1.0  10.0  0.0   52.0   61.0  470.0    0.0  NaN  34.0
2  7.0  1.0  1.0  10.0  0.0  253.0   16.0  735.0    0.0  NaN  34.0
3  7.0  1.0  1.0  10.0  0.0    8.0   54.0  121.0    0.0  NaN  34.0
4  9.0  0.0  1.0  24.0  0.0    7.0   24.0  602.0  486.0  1.0  32.0

In [11]:
features = df.drop(4, axis=1)
target = df[4]

train_features, valid_features, train_targets, valid_targets = train_test_split(features, target, test_size=0.25, random_state=12345)

In [16]:
for depth in range(1, 15):
    model = DecisionTreeClassifier(max_depth=depth)
    model.fit(train_features, train_targets)
    predictions = model.predict(valid_features)
    score = model.score(valid_features, valid_targets)
    print(depth, score)

1 0.9866561389656534
2 0.9866561389656534
3 0.9866561389656534
4 0.9866561389656534
5 0.9866561389656534
6 0.9867350967232531
7 0.9861823924200552
8 0.9855507303592578
9 0.9842084484800632
10 0.983497828661666
11 0.9827082510856692
12 0.981997631267272
13 0.9817607579944729
14 0.9810501381760758