In [28]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [29]:
df = pd.read_csv(r"C:\Users\andre\Рабочий стол\Практикум\Специалист по Data Science Плюс. Часть 6\Часть 6\05 Метрики регрессии\flights.csv")

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77909 entries, 0 to 77908
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           77909 non-null  int64
 1   Day                             77909 non-null  int64
 2   Day Of Week                     77909 non-null  int64
 3   Airline                         77909 non-null  object
 4   Origin Airport Delay Rate       77909 non-null  float64
 5   Destination Airport Delay Rate  77909 non-null  float64
 6   Scheduled Time                  77909 non-null  int64
 7   Distance                        77909 non-null  int64
 8   Scheduled Departure Hour        77909 non-null  int64
 9   Scheduled Departure Minute      77909 non-null  int64
 10  Arrival Delay                   77909 non-null  float64
dtypes: float64(3), int64(7), object(1)
memory usage: 6.5+ MB

In [31]:
df.shape

(77909, 11)

In [32]:
df.head()

,Month,Day,Day Of Week,Airline,Origin Airport Delay Rate,Destination Airport Delay Rate,Scheduled Time,Distance,Scheduled Departure Hour,Scheduled Departure Minute,Arrival Delay
0,1,2,5,WN,0.000000,0.000000,225,1390,8,55,-13.0
1,1,4,7,AA,0.000000,0.590909,172,1096,8,30,-12.0
2,1,4,7,US,0.000000,0.000000,46,130,0,30,189.0
3,1,3,6,WN,0.000000,0.000000,160,925,9,25,-7.0
4,1,5,1,EV,0.633333,0.000000,69,113,5,46,-4.0

In [33]:
df_ohe = pd.get_dummies(df, drop_first=True)

In [34]:
target = df_ohe['Arrival Delay']
features = df_ohe.drop('Arrival Delay', axis=1)

In [35]:
numeric = ['Day', 'Day Of Week', 'Origin Airport Delay Rate',
           'Destination Airport Delay Rate', 'Scheduled Time', 'Distance',
           'Scheduled Departure Hour', 'Scheduled Departure Minute']

scaler = StandardScaler()
scaler.fit(features[numeric])
features[numeric] = scaler.transform(features[numeric])

In [38]:
features_train, features_valid, target_train, target_valid = train_test_split(features, target, test_size=0.25, random_state=12345)

In [39]:
print(features_train.shape)
print(features_valid.shape)

(58431, 22)
(19478, 22)