In [12]:
import pandas as pd

In [13]:
purchases = pd.read_csv(r"C:\Users\andre\Рабочий стол\Практикум\Специалист по Data Science Плюс. Часть 2\02 Работа с пропусками\02 work\returned.csv")
purchases.head()

    source  first  repeated
0  context   2933        96
1    email    885       136
2      smm   1653       139

In [14]:
email_visits = 1000 # количество визитов из рассылок
context_visits = 2500 # количество визитов из контекстной рекламы
email_purchases = 50 # количество покупок из рассылок
context_purchases = 100 # количество покупок из контекстной рекламы

email_conversion = email_purchases / email_visits
context_conversion = context_purchases / context_visits

print('Конверсия рассылок: {:.0%}'.format(email_conversion))
print('Конверсия контекстной рекламы: {:.0%}'.format(context_conversion))

Конверсия рассылок: 5%
Конверсия контекстной рекламы: 4%

In [17]:
purchases.insert(loc=3 ,column='total',value = purchases['first']+purchases['repeated'])

In [18]:
purchases

    source  first  repeated  total
0  context   2933        96   3029
1    email    885       136   1021
2      smm   1653       139   1792

In [33]:
for index, row in purchases.iterrows():
    print(f"Количество покупок для {row['source']} = {row['repeated'] / row['total']:.0%}")

Количество покупок для context = 3%
Количество покупок для email = 13%
Количество покупок для smm = 8%

In [56]:
purchases['repeated_percentage'] = (purchases['repeated'] / purchases['total']).astype(float)*100

In [58]:
purchases.sort_values(by='repeated_percentage', ascending=False)

    source  first  repeated  total  repeated_percentage
1    email    885       136   1021            13.320274
2      smm   1653       139   1792             7.756696
0  context   2933        96   3029             3.169363