In [2]:
import pandas as pd

In [3]:
logs = pd.read_csv(r"C:\Users\andre\Рабочий стол\Практикум\Специалист по Data Science Плюс. Часть 2\02 Работа с пропусками\03 work\logs.csv")
logs.head()

      user_id   source       email  purchase
0  7141786820    other         NaN         0
1  5644686960    email  c129aa540a         0
2  1914055396  context         NaN         0
3  4099355752    other         NaN         0
4  6032477554  context         NaN         1

In [4]:
logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   200000 non-null  int64
 1   source    198326 non-null  object
 2   email     13953 non-null   object
 3   purchase  200000 non-null  int64
dtypes: int64(2), object(2)
memory usage: 6.1+ MB

In [11]:
logs['user_id'].nunique()

86571

In [12]:
logs['email'].nunique()

6062

In [17]:
logs['source'].unique()

array(['other', 'email', 'context', nan, 'undef'], dtype=object)