In [94]:
import pandas as pd
import numpy as np

1.
Прежде чем заполнять пропуски, их нужно найти. Напечатайте на экране строки таблицы, у которых есть пропуски в столбце 'faculty_name'.
2.
Восстановите справедливость: верните Рону его факультет, заменив значение NaN на 'Гриффиндор' методом fillna(). Выведите на экран таблицу hogwarts_points.

3.
Найдите суммарные баллы каждого из факультетов и сохраните результат в переменной faculty_points. Потом используя эту переменную найдите факультет-победитель и сохраните результат в переменной winner. В конце выведите значения обеих переменных на экран (уже в прекоде).

4.
Применим полученные в Хогвартсе знания к реальной задаче. Возьмём источники трафика Яндекс.Маркета и рассчитаем конверсию.
Найдите количество визитов из каждого источника трафика. Для этого сгруппируйте данные из столбца с идентификаторами пользователей по столбцу с источниками. Результат сохраните в переменной visits и выведите на экран.

5.
Посчитайте количество совершённых покупок для каждого источника трафика. Результат сохраните в переменной purchase и выведите на экран.

6.
Посчитайте конверсию по каждому источнику трафика, результат сохраните в переменной conversion и выведите на экран.

In [127]:
df = pd.read_csv(r"C:\Users\andre\Рабочий стол\Практикум\Специалист по Data Science Плюс. Часть 2\02 Работа с пропусками\04 work\hogwarts_points.csv")
market = pd.read_csv(r"C:\Users\andre\Рабочий стол\Практикум\Специалист по Data Science Плюс. Часть 2\02 Работа с пропусками\04 work\logs.csv")

In [59]:
df.head()

  faculty_name    student_name  points
0   Гриффиндор    Гарри Поттер      15
1     Слизерин    Драко Малфой      28
2    Когтевран  Полумна Лавгуд      10
3          NaN       Рон Уизли       5
4    Пуффендуй  Седрик Диггори      17

In [60]:
df['faculty_name'].isna()

0    False
1    False
2    False
3     True
4    False
5    False
Name: faculty_name, dtype: bool

In [61]:
df['faculty_name'] = df['faculty_name'].fillna('Гриффиндор')

In [62]:
faculty_points  = df.points.sum()

In [70]:
gdf = df.groupby('faculty_name')['points'].sum().idxmax()
gdf

'Гриффиндор'

In [82]:
market.groupby('source')['user_id'].count()

source
context     52032
email       12279
other      133834
undef         181
Name: user_id, dtype: int64

In [85]:
market.groupby('source')['purchase'].sum()

source
context    3029
email       913
other      8041
undef        12
Name: purchase, dtype: int64

In [142]:
m2 = market[(market['source']=='undef') & (market['purchase']==2)]['purchase']
m2

16163     2
33855     2
50214     2
63439     2
80379     2
90683     2
104062    2
112543    2
164946    2
166938    2
182014    2
187552    2
Name: purchase, dtype: int64

In [139]:
m3 = market.loc[(market['source']=='undef') & (market['purchase']==2), 'purchase'] 
m3

16163     2
33855     2
50214     2
63439     2
80379     2
90683     2
104062    2
112543    2
164946    2
166938    2
182014    2
187552    2
Name: purchase, dtype: int64

In [143]:
market[market['purchase']==2

           user_id source email  purchase
16163   6142982248  undef   NaN         2
33855   9679492983  undef   NaN         2
50214    907481352  undef   NaN         2
63439   5446726605  undef   NaN         2
80379    432598494  undef   NaN         2
90683   7344621071  undef   NaN         2
104062  1540218663  undef   NaN         2
112543   351249497  undef   NaN         2
164946  2991619793  undef   NaN         2
166938  6846965810  undef   NaN         2
182014  9572135427  undef   NaN         2
187552  9642694241  undef   NaN         2

In [98]:
market.groupby('source').agg(
    {
        'purchase': 'mean', 
    }
)

         purchase
source
context  0.058214
email    0.074355
other    0.060082
undef    0.066298