In [1]:
import pandas as pd

In [2]:
logs = pd.read_csv(r"C:\Users\andre\Рабочий стол\Практикум\Специалист по Data Science Плюс. Часть 2\02 Работа с пропусками\08 work\logs.csv")
logs.head()

      user_id   source       email  purchase
0  7141786820    other         NaN         0
1  5644686960    email  c129aa540a         0
2  1914055396  context         NaN         0
3  4099355752    other         NaN         0
4  6032477554  context         NaN         1

In [5]:
logs.email = logs.email.fillna('')
logs

           user_id   source       email  purchase
0       7141786820    other                     0
1       5644686960    email  c129aa540a         0
2       1914055396  context                     0
3       4099355752    other                     0
4       6032477554  context                     1
...            ...      ...         ...       ...
199995  8714621942    other                     0
199996  6064948744  context                     1
199997  9210683879  context                     0
199998  1629959686    other                     1
199999  2089329795    other                     0

[200000 rows x 4 columns]

In [12]:
logs['source'].unique()

array(['other', 'email', 'context', nan, 'undef'], dtype=object)

In [28]:
logs.loc[logs['source'].isna(),'email' ].isna().sum() == 0

True

In [30]:
logs.loc[logs['source'] == 'None', 'source'] = 'email'

In [46]:
logs['source'].value_counts()

source
other      134015
context     52032
email       12279
Name: count, dtype: int64

In [47]:
logs_grouped = (logs.groupby('source'
).agg(
    {
        'purchase': ['count' , 'sum']
    }
).droplevel(
    level=0,
    axis=1
))
logs_grouped

          count   sum
source
context   52032  3029
email     12279   913
other    134015  8053

In [48]:
logs_grouped['conversion'] = logs_grouped['sum']/logs_grouped['count']*100

In [49]:
logs_grouped

          count   sum  conversion
source
context   52032  3029    5.821418
email     12279   913    7.435459
other    134015  8053    6.009029

In [45]:
logs.loc[logs['source'] == 'undef','source'] = 'other'