In [2]:
import pandas as pd

In [23]:
metrica = pd.read_csv(r"C:\Users\andre\Рабочий стол\Практикум\Специалист по Data Science Плюс. Часть 2\02 Работа с пропусками\09 work\metrica_data.csv")

          user_id device_type   age    time
0      7141786820     desktop  33.0  2127.0
1      5644686960      mobile  30.0    35.0
2      1914055396     desktop  25.0     NaN
3      4099355752     desktop  25.0  2123.0
4      6032477554     desktop  27.0    59.0
...           ...         ...   ...     ...
99995  7823848431     desktop  26.0  2093.0
99996  3586574436      mobile  36.0    40.0
99997   859960707      mobile  28.0    30.0
99998  8228213054     desktop  36.0  2096.0
99999    79268366     desktop  25.0  2137.0

[100000 rows x 4 columns]

In [24]:
age_avg = metrica['age'].mean().astype(int)

In [27]:
metrica['age'] = metrica['age'].fillna(age_avg)

In [28]:
metrica

          user_id device_type   age    time
0      7141786820     desktop  33.0  2127.0
1      5644686960      mobile  30.0    35.0
2      1914055396     desktop  25.0     NaN
3      4099355752     desktop  25.0  2123.0
4      6032477554     desktop  27.0    59.0
...           ...         ...   ...     ...
99995  7823848431     desktop  26.0  2093.0
99996  3586574436      mobile  36.0    40.0
99997   859960707      mobile  28.0    30.0
99998  8228213054     desktop  36.0  2096.0
99999    79268366     desktop  25.0  2137.0

[100000 rows x 4 columns]

In [29]:
time_avg = metrica['time'].mean().astype(int)
time_avg

1430

In [31]:
metrica[metrica['device_type'] == 'desktop']

          user_id device_type   age    time
0      7141786820     desktop  33.0  2127.0
2      1914055396     desktop  25.0     NaN
3      4099355752     desktop  25.0  2123.0
4      6032477554     desktop  27.0    59.0
7      3512872755     desktop  40.0    65.0
...           ...         ...   ...     ...
99992  7964851413     desktop  35.0  2095.0
99994  7751404712     desktop  40.0     NaN
99995  7823848431     desktop  26.0  2093.0
99998  8228213054     desktop  36.0  2096.0
99999    79268366     desktop  25.0  2137.0

[73764 rows x 4 columns]

In [32]:
desktop_data_time_avg = metrica[metrica['device_type'] == 'desktop']['time'].mean()

In [33]:
mmobile_data = metrica[metrica['device_type'] == 'mobile']

In [34]:
mobile_data_time_avg = metrica[metrica['device_type'] == 'mobile']['time'].mean()