In [1]:
import pandas as pd
import numpy as np
from docutils.nodes import container
from sympy.codegen.ast import continue_
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head(5)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [5]:
df[df['total_income'].isnull()==True].equals(df[df['days_employed'].isnull()==True])

True

Имеются пропуски в days_employed и total_income. NaN значения в обоих случаях имеются в одних и тех же строках. Следовательно и доля пропусков в столбце будет одинаковой:

In [6]:
df['days_employed'].isna().sum()/100

21.74

In [7]:
df['children'].value_counts()

children
 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: count, dtype: int64

Аномалии: -1 - такого быть не может,
20 - вероятно ошибочное значение.

In [8]:
df['children'] = df['children'].apply(lambda x: None if x == -1 or x == 20 else x)
df['children'].value_counts()

children
0.0    14149
1.0     4818
2.0     2055
3.0      330
4.0       41
5.0        9
Name: count, dtype: int64

In [9]:
n = df.days_employed.value_counts()

In [43]:
len(df[df['total_income'].isna()])

2174

In [46]:
df['days_employed'].max()

401755.40047533

In [47]:
rows = [False, True, False, False, False, False, False, False]
print(data.loc[rows])

NameError: name 'data' is not defined