In [56]:
import pandas as pd

In [57]:
stock = pd.read_excel(r"C:\Users\andre\Рабочий стол\Практикум\Специалист по Data Science Плюс. Часть 2\04 Поиск дубликатов\02 work\stock.xlsx")
stock

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     32
1  100480929     Смартфон Xiaomi Redmi 6A 16GB     10
2  100480938  Смартфон Samsung Galaxy A30 32GB     49
3  100480952  смартфон Samsung Galaxy A30 32gb     11
4  100480959          Смартфон HUAWEI P30 lite      5
5  100480975     Смартфон Apple iPhone Xr 64gb     10
6  100480988            Смартфон Honor 8X 64GB     64
7  100480998          Смартфон HUAWEI P30 lite     33
8  100481008     Смартфон Xiaomi Redmi 6A 16GB      2
9  100481020     Смартфон Apple iPhone Xr 64GB     19

In [58]:
stock['item'].duplicated().sum()

3

In [59]:
stock['item'].value_counts()

item
Смартфон Xiaomi Redmi 6A 16GB       3
Смартфон HUAWEI P30 lite            2
Смартфон Samsung Galaxy A30 32GB    1
смартфон Samsung Galaxy A30 32gb    1
Смартфон Apple iPhone Xr 64gb       1
Смартфон Honor 8X 64GB              1
Смартфон Apple iPhone Xr 64GB       1
Name: count, dtype: int64

In [60]:
xiaomi = stock[stock['item'] == 'Смартфон Xiaomi Redmi 6A 16GB']['count'].sum()

In [61]:
huawei = stock[stock['item'] == 'Смартфон HUAWEI P30 lite']['count'].sum()

In [62]:
stock['item'] = stock['item'].drop_duplicates()
stock

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     32
1  100480929                               NaN     10
2  100480938  Смартфон Samsung Galaxy A30 32GB     49
3  100480952  смартфон Samsung Galaxy A30 32gb     11
4  100480959          Смартфон HUAWEI P30 lite      5
5  100480975     Смартфон Apple iPhone Xr 64gb     10
6  100480988            Смартфон Honor 8X 64GB     64
7  100480998                               NaN     33
8  100481008                               NaN      2
9  100481020     Смартфон Apple iPhone Xr 64GB     19

In [67]:
stock = stock.dropna().reset_index(drop=True)
stock

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     32
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite      5
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

In [68]:
stock.loc[0,'count'] = xiaomi
stock.loc[3,'count'] = huawei

In [69]:
stock

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     44
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite     38
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

In [70]:
%store stock

Stored 'stock' (DataFrame)