In [1]:
import pandas as pd

In [2]:
%store -r stock

In [3]:
stock

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     44
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite     38
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

In [5]:
stock['item_lowercase'] = stock['item'].str.lower()
stock

,id,item,count,item_lowercase
0,100480924,Смартфон Xiaomi Redmi 6A 16GB,44,смартфон xiaomi redmi 6a 16gb
1,100480938,Смартфон Samsung Galaxy A30 32GB,49,смартфон samsung galaxy a30 32gb
2,100480952,смартфон Samsung Galaxy A30 32gb,11,смартфон samsung galaxy a30 32gb
3,100480959,Смартфон HUAWEI P30 lite,38,смартфон huawei p30 lite
4,100480975,Смартфон Apple iPhone Xr 64gb,10,смартфон apple iphone xr 64gb
5,100480988,Смартфон Honor 8X 64GB,64,смартфон honor 8x 64gb
6,100481020,Смартфон Apple iPhone Xr 64GB,19,смартфон apple iphone xr 64gb

In [6]:
stock['item_lowercase'].value_counts()

item_lowercase
смартфон samsung galaxy a30 32gb    2
смартфон apple iphone xr 64gb       2
смартфон xiaomi redmi 6a 16gb       1
смартфон huawei p30 lite            1
смартфон honor 8x 64gb              1
Name: count, dtype: int64

In [7]:
samsung = stock[stock['item_lowercase'] == 'смартфон samsung galaxy a30 32gb']['count'].sum()
apple = stock[stock['item_lowercase'] == 'смартфон apple iphone xr 64gb']['count'].sum()

In [11]:
stock['item_lowercase'] = stock['item_lowercase'].drop_duplicates()
stock

,id,item,count,item_lowercase
0,100480924,Смартфон Xiaomi Redmi 6A 16GB,44,смартфон xiaomi redmi 6a 16gb
1,100480938,Смартфон Samsung Galaxy A30 32GB,49,смартфон samsung galaxy a30 32gb
2,100480952,смартфон Samsung Galaxy A30 32gb,11,NaN
3,100480959,Смартфон HUAWEI P30 lite,38,смартфон huawei p30 lite
4,100480975,Смартфон Apple iPhone Xr 64gb,10,смартфон apple iphone xr 64gb
5,100480988,Смартфон Honor 8X 64GB,64,смартфон honor 8x 64gb
6,100481020,Смартфон Apple iPhone Xr 64GB,19,NaN

In [13]:
stock = stock.dropna().reset_index(drop=True)
stock

,id,item,count,item_lowercase
0,100480924,Смартфон Xiaomi Redmi 6A 16GB,44,смартфон xiaomi redmi 6a 16gb
1,100480938,Смартфон Samsung Galaxy A30 32GB,49,смартфон samsung galaxy a30 32gb
2,100480959,Смартфон HUAWEI P30 lite,38,смартфон huawei p30 lite
3,100480975,Смартфон Apple iPhone Xr 64gb,10,смартфон apple iphone xr 64gb
4,100480988,Смартфон Honor 8X 64GB,64,смартфон honor 8x 64gb

In [14]:
stock.loc[1,'count'] = samsung
stock.loc[3,'count'] = apple

In [15]:
stock

,id,item,count,item_lowercase
0,100480924,Смартфон Xiaomi Redmi 6A 16GB,44,смартфон xiaomi redmi 6a 16gb
1,100480938,Смартфон Samsung Galaxy A30 32GB,60,смартфон samsung galaxy a30 32gb
2,100480959,Смартфон HUAWEI P30 lite,38,смартфон huawei p30 lite
3,100480975,Смартфон Apple iPhone Xr 64gb,29,смартфон apple iphone xr 64gb
4,100480988,Смартфон Honor 8X 64GB,64,смартфон honor 8x 64gb

In [17]:
stock.drop(axis='columns', inplace=True, columns=['item_lowercase'])
stock

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     44
1  100480938  Смартфон Samsung Galaxy A30 32GB     60
2  100480959          Смартфон HUAWEI P30 lite     38
3  100480975     Смартфон Apple iPhone Xr 64gb     29
4  100480988            Смартфон Honor 8X 64GB     64